:root {
    --bitcoin-color : #f7931a;
    --ethereum-color : #00b7ff;
    --solana-color : #DC1FFF;
    --avalanche-color : #e84142;
    --cardano-color : #00A1FF;
    --USD-color : #3D993D;
    --EUR-color : #4D7AB1;
    --JPY-color : #8BA4C6;
    --GBP-color : #c3c3c3;
    --CHF-color : #DB9300;
}

body {
    background-color: #151515;
    color: #eee;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    color: #dfdfdf !important;
}

a:hover {
    text-decoration: none;
}

.nav-link {
    display: inline;
}

.logo-text {
    color: #eee !important;
    font-weight: bold;
    letter-spacing: 1px;
}

.login, .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #dfdfdf;
    padding: 15px 40px;
}

.form-login .form-group input, .form-register .form-group input {
    border: 1px solid black;
    caret-color: #aaa;
    color: #ccc;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #555; 
}

.prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.cryptotitle, .currencytitle {
    font-size: large;
    text-align: center;
    font-weight: 400;
    padding: 8px 0px;
    color: #cecece;
}

.crypto, .currency {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
}

.cryptoprices, .currencyprices {
    border-radius: 5px;
    background-color: #343a40;
    padding: 15px;
}

.cryptoitem, .currencyitem {
    display: flex;
    justify-content: space-between;
}

.cryptopricechange, .currencypricechange {
    display: flex;
    justify-content: flex-end;
}

.cryptopricedata, .currencypricedata {
    text-align: right;
}

.rotatesvg {
    transform: rotate(180deg);
}

.cryptoname, .currencyname {
    font-weight: bold;
    letter-spacing: 0.2vh;
}

.cryptonames[data-BTC] {
    color: var(--bitcoin-color);
}

.cryptonames[data-ETH] {
    color: var(--ethereum-color);
}

.cryptonames[data-SOL] {
    color: var(--solana-color);
}

.cryptonames[data-AVAX] {
    color: var(--avalanche-color);
}

.cryptonames[data-ADA] {
    color: var(--cardano-color);
}

.currencynames[data-USD] {
    color: var(--USD-color);
}

.currencynames[data-EUR] {
    color: var(--EUR-color);
}

.currencynames[data-JPY] {
    color: var(--JPY-color);
}

.currencynames[data-GBP] {
    color: var(--GBP-color);
}

.currencynames[data-CHF] {
    color: var(--CHF-color);
}

@media (min-width: 1000px) {
    .navbar {
        padding: 8px 20px;
    }
    .logo-text {
        font-size: x-large !important;
    }
    .nav-item {
        font-size: large;
    }

    .login, .register {
        padding: 25px 50px;
    }

    .prices {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 40px;
        padding: 80px 200px;
    }

    .crypto, .currency {
        width: 50%;
    }

    .cryptoprices, .currencyprices {
        padding: 30px;
    }

    
    .cryptotitle, .currencytitle {
        font-size: x-large;
        font-weight: 500;
        padding: 8px 0px;
    }
}

@media (max-width: 350px) {
    .prices {
        padding: 20px;
    }
    .crypto, .currency {
        width: 100%;
    }
}