:root {
    --bitcoin-color : #f7931a;
    --ethereum-color : #00b7ff;
    --solana-color : #DC1FFF;
    --avalanche-color : #e84142;
    --cardano-color : #00A1FF;
    --USD-color : #32CD32;
    --EUR-color : #8E8E8E;
    --JPY-color : royalblue;
    --GBP-color : #A9A9A9;
    --CHF-color : #DB9300;
}

body {
    background-color: #151515;
    color: #eee;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav-item {
    color: #dfdfdf !important;
}

a:hover {
    text-decoration: none;
}

.nav-link {
    display: inline;
    padding: 0px;
}

.logo-text {
    color: #eee !important;
    font-weight: bold;
    letter-spacing: 1px;
}

.login, .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #dfdfdf;
    padding: 15px 40px;
}

.form-login .form-group input, .form-register .form-group input {
    border: 1px solid black;
    caret-color: #aaa;
    color: #ccc;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #555; 
}

.prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 40px 20px;
}

.cryptotitle, .currencytitle {
    font-size: large;
    text-align: center;
    font-weight: 400;
    padding: 8px 0px;
    color: #cecece;
}

.crypto, .currency {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
}

.cryptoprices, .currencyprices {
    border-radius: 5px;
    background-color: #343a40;
    padding: 15px;
}

.cryptoitem, .currencyitem {
    display: flex;
    justify-content: space-between;
}

.cryptopricechange, .currencypricechange {
    display: flex;
    justify-content: flex-end;
}

.cryptopricedata, .currencypricedata {
    text-align: right;
}

.rotatesvg {
    transform: rotate(180deg);
}

.cryptoname, .currencyname {
    font-weight: bold;
    letter-spacing: 0.2vh;
}

.cryptonames[data-BTC] {
    color: var(--bitcoin-color);
}

.cryptonames[data-ETH] {
    color: var(--ethereum-color);
}

.cryptonames[data-SOL] {
    color: var(--solana-color);
}

.cryptonames[data-AVAX] {
    color: var(--avalanche-color);
}

.cryptonames[data-ADA] {
    color: var(--cardano-color);
}

.currencynames[data-USD] {
    color: var(--USD-color);
}

.currencynames[data-EUR] {
    color: var(--EUR-color);
}

.currencynames[data-JPY] {
    color: var(--JPY-color);
}

.currencynames[data-GBP] {
    color: var(--GBP-color);
}

.currencynames[data-CHF] {
    color: var(--CHF-color);
}

.search, .relax {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    gap: 8px;
    padding: 20px 40px 0px;
}

.convert, .getidea {
    background-color: #343a40;
    border-radius: 6px;
    width: 100%;
    padding: 20px 10px 20px 10px;
    margin: 0px 0px 50px;
}

.convert {
    padding: 20px 10px 20px 0px;
    margin: 0px 0px 50px;
}

.convert form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.convert form input[type=submit] {
    flex: 1;
}

.convert form input[type=text] {
    padding: 2px 10px;
}

.convert form input {
    background-color: #eee;
    color: black;
    width: 100%;
    border-radius: 5px;
}

.input {
    padding: 0px 10px 0px 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 7;
    gap: 15px;
}

.result {
    display: none;
    padding: 20px 0px 0px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.searchtitle, .relaxtitle {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

.relax {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 0px 8px;
}

.getidea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.relaxbtn {
    background-color: #eee;
    color: black;
    height: 30px;
    min-width: 20vw;
    border-radius: 5px;
}

.relaxbtn:hover, .relaxbtn:focus {
    outline: none;
}

.idea {
    font-size: 1.1rem;
}

/* Override some bootstrap properties */

.btn-prefer.btn-preferences.focus,.btn-preferences:focus,.btn-preferences.click,.btn-preferences {
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
    box-shadow: unset;
    transition: unset;
    outline: none;
}

.btn-preferences {
    vertical-align: unset;
    user-select: unset;
}

.btn-preferences:hover {
    background-color: transparent !important;
    text-decoration: none;
}

/**************************************/


.dropdown-menu {
    height: 20vh;
    background-color: #343a40;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.dropdown-item {
    color: #cecece;
}

.dropdown-item:hover {
    background-color: #747474;
    color: #ededed;
} 

.dropdown-menu::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

button, button:focus, button.click {
    border: none;
    outline: none;
}

.pricewunit {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 1.2px;
}

.pricesymbol {
    display: flex;
    align-items: stretch;
    font-size: 0.7rem;
    font-weight: 400;
}

@media (min-width: 1015px) {
    .navbar {
        padding: 8px 20px;
    }
    .nav-right {
        margin-right: 20px;
    }
    .logo-text {
        font-size: x-large !important;
    }
    .nav-item {
        font-size: large;
    }
    .login, .register {
        padding: 25px 50px;
    }
    .prices {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 40px;
        padding: 80px 200px;
    }
    .crypto, .currency {
        width: 50%;
    }
    .cryptoprices, .currencyprices {
        padding: 30px;
    }
    .cryptotitle, .currencytitle {
        font-size: x-large;
        font-weight: 500;
        padding: 8px 0px;
    }
    .search {
        padding: 0px 100px;
    }
    .convert {
        padding: 20px 120px 20px 100px;
    }
    .input {
        padding: 0px 60px;
        gap: 30px;
    }
    .searchtitle, .relaxtitle {
        font-size: 1.8rem;
        font-weight: bold;
    }
    .idea {
        font-size: 1.3rem;
        font-weight: 450;
    }
    .getidea {
        gap: 20px;
    }
    .nav-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
}

@media (max-width: 359px) {
    .prices {
        padding: 20px;
    }
    .crypto, .currency {
        width: 100%;
    }
    .convert form {
        gap: 0px;
    }
    .search {
        padding: 10px 20px 10px;
    }
    .input {
        padding: 0px 8px 0px 16px;
        gap: 8px;
    }
    .searchtitle, .relaxtitle {
        font-size: 1.1rem;
        font-weight: 400;
    }
    .result {
        padding: 10px 0px 0px;
        font-size: 1.1rem;
        font-weight: 500;
    }
    .convert {
        margin-bottom: 10px;
    }
    .idea {
        font-size: 1rem;
    }
    .navbar {
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }
}